.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -150px;
  }
  
  .card {
    width: 400px;
  }

  .form-group {
    margin-bottom: 10px;
  }
  
  .btn {
    margin-top: 10px;
  }